
@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('trebuc.woff') format('woff');
    }
*{
margin: 0;
padding: 0;
}
body{
background-color:#4A6BAE ;
font-size: 14px;
font-weight: normal;
line-height:21px;
/* letter-spacing: 0.5pc; */
}
.mainContainer{
/* height: 1200px;
width: 92.5vw;
margin: auto;
background-image: url("images/bg1.jpg");
background-repeat: no-repeat;
background-position: top center; */

/* background-repeat: no-repeat; */

padding-bottom: 10px;
background: #4A6BAE url("images/bg1.jpg") no-repeat top center;
min-height: 800px;

}
#divContainer{
width: 957px;
margin: auto;
position: relative;
text-align: left;
}
.clear{
clear: both;
}
.univNav{
float: right;
margin: auto;
height: 20px;
width: 373px;
margin-bottom: 30px;
padding: 2px;
font-weight: normal;
text-align: right;
background-color:#0000000a;

}
#NavBar
{
background-color: rgb(5, 18, 32, 0.8);
color: #fff;
height: 58px;
padding: 5px;
font-family: 'Trebuchet MS';
}

#TopNav{
height: 56px;
width: 946px;
border: 1px solid #414D5F;
}

#MenuBar{
float: right;
margin-top: 14px;
padding: 4px;
}

li.button{
float: left;
list-style-type: none;
}
ul.items li a{
text-decoration: none;
color: #9dcce9;
font-size: 18px;

}

ul.items li a .txtMenu{
align-items: center;
padding: 5px 10px;
}




div{
display: block;
}
.logo{
float: left;
left: 15px;
position: absolute;
top: 10px;
width: 224px;
}
/* .banner{
height:170px !important;
} */
.desc{
background-color: rgb(5, 18, 32, 0.8);
height: 100%;

/* background:transparent url("images/nav_bg.png") scroll left top;
background-repeat: repeat-y repeat-x; */
padding: 5px;
margin-top: 50px;


}

.container{
    width: 100%;
    padding: 30px;
    box-sizing:border-box;
    border: 1px solid #414D5F;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}

.textArea{
    height: 100%;
    flex:2;
    margin-left: 25px;
    font-family: 'Trebuchet MS';
}
.pictures{
    height: 100%;
    
    flex: 1;
   
}

.containerPic{
    margin-bottom: 20px;
}

.list ul{
    list-style-type: none;
}
.list ul a{
    color: #fff;
}


.servicesList{
    margin-left: 15px;
}

.requestContainer{
    
    border: 1px solid #414D5F;
    border-left: none;
    border-right: none;

}
.requestContainer p{
    margin-left: 30px;
    margin-top: 15px;
    color: #fff;
}
.requestContainer button{
    margin-left: 30px;
    margin-top: 10px;
    background: #4A6BAE;
    padding: 5px 7px;
    border-radius: 5px;
    align-items: center;
    border: none;
    color: #fff;
    margin-bottom: 15px;
}





